body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size:cover;
    padding: 0;
    margin: 0;
}
header{
    height: 78px;
    padding: 26px 0 0 0;
    justify-content: center;
    display: inline-flex;
    p{
        color: white;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
    }
}
main{
    margin: 0;
}
h2{
    text-align: center;
}
.superpowers{
    h2{
    color: white;
    text-transform: uppercase    ;
    }
    p{
        text-align: center;
        color: white;
      
    }

}
.power_text{
    color:#FCE558;
}
.three_night{
    text-align: center;
    color:white;
}
.power_text1{
    text-decoration: bold;
    color:white;
}
.card_night{
    margin: 30px 0 0 0;
    display:flex;   
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.cads_n{
    background-color: white;
    border-radius: 30px;
    width: 250px;
    justify-content: center;
    p{
        margin: 10px 0 10px 0;
        padding: 0 10px 0 10px;
        text-align: center;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        color: black;
    }
}
.img_star{
    display: block;
      margin: -10px auto 0 auto; 
    width: 44px;


}
.calendar{
    display: flex;
    justify-content: center;
    gap:1rem;
    color: white;
}
.button{
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
}
.btn_email{
    height: 56px;
    width: 254px;
    border-radius: 30px;
    border:none ;
    font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}
.btn_sign_up{
    height: 56px;
    width: 254px;
    border-radius: 30px;
    border:none ;
    background: linear-gradient(90deg, rgb(250,210,100), rgb(252,229,88));
    font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}
.test{
    display: flex;
    justify-content: center;
    color: white;
}
.marafone{
    background-color: white;
    width: 100%;
    margin: 0;
}
.marafone_program{
    max-height: 686px;
    max-width: 1110px;
    border-radius: 0px;
    margin: 0 auto;

}
.header{
    display: flex;
    height: 89px;

}
.day{
    width: 33.33333%;
    background-color: #FAD264;
    color: rgba(66, 25, 109, 1);;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 32px 0;

}
.name_header{
    width: 66.666%;
    background: #320B61;
    color:white;
    text-align: center;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 32px 0;
}
.body{
    display: flex;
}
.img_body{
    width: 33.3333%;
}
.all_m{
    width: 66.666%;
    h5{
        text-transform: uppercase;
    }
}
.all_marafone{
    list-style: none;
    li {
        line-height: 1/2rem;
        display: flex;
        margin-top: 10px;
      }
      li:before {
        display: block;
        float: left;
        content: '';
        background-image: url('../img/ul_res.svg');
        width: 30px;
        height: 30px;
      }
}
.result{
    list-style: none;
    li{

    }
    li:before{
        display: block;
        float: left;
        font-size: 2rem;
    }
}
.maraph_if{
    background-color: #42196D;

    h2{
        color:#FAD264;
    }
}
.maraphon_t{
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
}
.if{
    max-width: 349px;
    margin: 0 auto;

}
.card_if{
    background-color: white;
    border-radius: 0 0 40px 40px;
    padding-bottom: 20px;
}
.img_strelka{
    display: block;
    margin: 0 auto ;
    img{
        display: block;
      margin: -10px auto 0px auto; 
    }
}
.title{
    margin-top: 10px;
    font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: center;

}
.text_p{
    margin-top: 10px;
    font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}