body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size:cover;
}
header{
    height: 78px;
    padding: 26px 0 0 0;
    justify-content: center;
    display: inline-flex;
    p{
        color: white;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
    }
}
h2{
    text-align: center;
}
.superpowers{
    h2{
    color: white;
    text-transform: uppercase    ;
    }

}
.power_text{
    color:#FCE558;
}
.three_night{
    text-align: center;
    color:white;
}
.power_text1{
    text-decoration: bold;
    color:white;
}
.card_night{
    display:flex;   
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.cads_n{
    background-color: white;
    border-radius: 30px;
    width: 250px;
    justify-content: center;
    }
    img{
    }
}