body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size:cover;
}
header{
    height: 78px;
    padding: 26px 0 0 0;
    justify-content: center;
    display: inline-flex;
    p{
        color: white;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
    }
}
h2{
    text-align: center;
}